body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

main {
    padding: 120px 0;
    
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    text-align: center;
}

h1 {
    font-size: 60px;
    padding-bottom: 10px;
}

table {
    border-collapse: collapse;
}
td, th {   
    padding: 5px;
}

tr:hover {
    color: black;
    background-color: #ddd;
    cursor: pointer;
}

th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #2e303d;
    color: white;
}

input[type="submit"] {
    margin-right: 10px;
}

#create-product input[type="text"], #create-product select {
    margin-right: 10px;
}

.product-row input[type="file"] {
    display: none;
}

.product-row #label-for-image {
    cursor: pointer;
}

.product-row textarea {
    height: 45px;
    resize: vertical;
}

.product-item {
    display: inline-block;
    vertical-align: top;
    text-align: center;
    margin-right: 15px;
}

.product-item img {
    display: block;
    height: 150px;
    margin: 0 auto;
}

.product-item p {
    margin: 5px 0;
}

.custom-file-upload input[type="file"] {
    display: none;
}
.custom-file-upload {
    border: 1px solid #CCC;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    margin-right: 10px;
}