@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --primary-color: #BF2E5D;

    --dark-body-color: #010409;
    --light-body-color: #F9F9F9;
    --light-second-background-color: white;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Noto Sans", sans-serif;
    box-sizing: border-box;
}

body.dark-mode {
    color: white;
    background: var(--dark-body-color);
}

h1 {
    font-size: 100px;
}

p {
    font-size: 11px;
    line-height: 15px;
}

a {
    color: var(--primary-color);
    text-decoration: none;
}

select, input[type="checkbox"] {
    cursor: pointer;
}

button {
    font-size: 13px;
    color: white;
    padding: 50 50px;
    font-weight: 900;
    border: 3px solid #BF2E5D;
    background-color: #BF2E5D;
    border-radius: 20px;
    transition-property: none;
}
button:hover {
    transition-property: none;
    cursor: pointer;
    background-color: white;
    color: black;
}

/* Style Classes */
.grandient-highlight-text {
    font-weight: 700;
    background-image: linear-gradient(20deg, rgba(140, 66, 171, 1), rgba(191, 46, 93, 1));
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}

.chevron-link::after {
    content: '›';
    display: inline-block;
    margin-left: .2em;
    transition: transform .15s linear;
    will-change: transform
}

.chevron-link:hover::after {
    transform: translateX(.1em)
}

/* NAVBAR */
header {
    background-color: transparent;
    background-position: center;
    background-size: cover;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
}

nav {
    flex: 1;
    text-align: right;
}

nav ul li {
    list-style: none;
    display: inline-block;
    margin-left: 60px;
}

nav #navbar-icon {
    margin-left: 10px;
}

.dark-mode nav ul li a {
    color: white;
}
.light-mode nav ul li a {
    color: black;
}
nav ul li a {
    text-decoration: none;
    cursor: pointer;
}
nav ul li a:hover {
    color: var(--primary-color);
}

.navbar {
    background-color: transparent;
    width: 100%;
    height: 12%;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    width: 84%;
    z-index: 999;
}

.navbar-logo {
    width: 50px;
    cursor: pointer;
    position: relative;
    z-index: 999; 
}

.navbar-icon {
    width: 30px;
    cursor: pointer;
    margin-left: 40px;
}

.dark-mode .dropdown-menu>span {
    color: white;
}
nav .dropdown-menu>span {
    font-size: 13px;
    font-weight: 700;
}
nav .dropdown-menu i {
    margin-left: 5px;
}

.dark-mode nav .dropdown-menu div {
    background-color: #010409;
}
.light-mode nav .dropdown-menu div {
    background-color: white;
}

@media (min-width: 858px) {
    nav .dropdown-menu:hover {
        transform:translateY(-2px)
    }

    nav .dropdown-menu>span {
        border-radius: 6px 6px 0 0;
        position: relative;
        padding-right: 10px;
        z-index: 2;
        border-bottom: 0;
        transition-property: box-shadow, border, background-color;
        transition-timing-function: ease;
        transition-duration: 0s;
        cursor: pointer;
    }

    .light-mode nav .dropdown-menu:hover>span {
        background-color: #010409;
        background-color: white;
    }
    nav .dropdown-menu:hover>span {
        transition-duration: .3s;
        box-shadow: -4px -4px 15px -4px rgba(127,127,127, 0.2);
        border-color: rgba(0,0,0,.1);
        color: var(--primary-color-color);
        text-shadow: none;
    }

    nav .dropdown-menu:hover>span {
        color: var(--primary-color);
        background: #010409;
    }

    nav .dropdown-menu div {
        display: flex;
        visibility: hidden;
        opacity: 0;
        padding: 10px 0;
        position: absolute;
        top: 25px;
        flex-direction: column;
        white-space: pre;
        border-radius: 0 6px 6px;
        border: 1px solid rgba(0,0,0,.1);
        border-top: 0;
        box-shadow: 0 3px 15px rgba(127,127,127, 0.3);
        z-index: 1;
        transition: visibility 0s,opacity .3s ease;
        min-width: 170%;
    }

    nav .dropdown-menu div a {
        text-align: left;
    }
    nav .dropdown-menu:last-child div {
        right: 0;
        border-radius: 6px 0 6px 6px;
    }

    nav .dropdown-menu:hover>span+div {
        visibility: visible;
        opacity: 1
    }

    nav .dropdown-menu div a, nav li span {
        padding-top: 10px;
        padding-left: 13px;
        padding-bottom: 10px;
    }
    nav .dropdown-menu div a {
        padding-right: 13px;
    }
}


.checkbtn {
    font-size: 30px;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check {
    display: none;
}

@media (max-width: 952px) {
    nav ul li  {
        font-size: 16px;
    }
}

@media (max-width: 858px) {
    .checkbtn {
        display: block;
        margin: 50px 0;
        line-height: 30px;
        position: relative;
        z-index: 999; 
    }
    
    .dark-mode nav ul {
        background-color: #16171D;
    }
    .light-mode nav ul {
        background-color: white;
    }
    
    nav ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: fixed;
        width: 100vw;
        height: 100%;
        top: 0;
        bottom: 0;
        right: -100%;
        text-align: center;
        transition: all .5s;
        z-index: 998;
    }
    
    nav ul li {
        padding: 12px 13px;
        margin-left: 0;
        width: 100%;
        display: block;
    }

    nav ul li a {
        font-size: 20px;
    }


    nav #navbar-icon {
        margin-left: 0;
    }

    #check:checked ~ ul {
        right: 0%;
    }

    .light-mode nav .dropdown-menu div {
        background-color: var(--light-body-color);
    }
    nav .dropdown-menu div {
        display: flex;
        flex-direction: column;
        overflow: hidden;
        max-height: 0;
        transition: max-height .6s;
        box-shadow: inset 0 12px 5px -10px rgba(0,0,0, 0.075),inset 0 -12px 5px -10px rgba(0,0,0, 5%)
    }

    nav .dropdown-menu:hover div {
        margin-top: 5px;
        max-height: 300px;
    }

    nav .dropdown-menu>span {
        font-size: 20px;
    }

    nav .dropdown-menu div a {
        padding: 0;
    }
}


/* FOOTER */
footer {
    padding: 20px 0;
    color: white;
    background-color: #000001;
}
.dark-mode footer {
    box-shadow: 0px 30px 80px var(--primary-color);
}

.footer-container {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    max-width: 1600px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.7em;
}

.footer-container h4 {
    margin: 1.0em 0;
    font-size: 20px;
}

.footer-container div {
    flex: 1;
    max-width: 400px;
    margin-left: 10px;
}

.footer-container img {
    height: 100px;
}

.footer-container p {
    font-size: 10px;
}

.footer-container p span a {
    display: inline;
}

.footer-container i {
    color: var(--primary-color);
}

.footer-container a {
    color: var(--white);;
    display: block;
}

.footer-container a:hover {
    color: var(--primary-color);
}

.footer-container a.credits {
    color: white;
}
.footer-container a.credits:hover {
    color: var(--primary-color);
}

@media(max-width: 1400px) {
    .footer-container {
        max-width:900px
    }

    .footer-container div {
        flex: unset;
        width: 200px;
        margin: 0 auto;
        box-sizing: content-box
    }

    .footer-container div:last-child {
        width: 100%;
        margin: 60px auto
    }
}


.switch {
    height: 2.5em;
    width: 5em;
    padding: 0;
    position: relative;
    display: inline-block;
    cursor: pointer;
    font-size: 10px
}

.switch input {
    display: none
}

.switch input+div {
    height: 100%;
    width: 100%;
    border-radius: 999px;
    background: var(--primary-color);
    padding: .3em
}

.switch input+div::before {
    content: '';
    display: block;
    height: 1.9em;
    width: 1.9em;
    border-radius: 100%;
    background: white;
    transform: translateX(0);
    transition: transform .2s
}

.switch input:checked+div::before {
    transform: translateX(2.5em)
}

.darkmode-switch {
    font-size: 10px;
    letter-spacing: .2em;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 4px
}

.darkmode-switch .switch {
    vertical-align: bottom;
    margin: -4px 10px
}
