
section.main {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0, 0.7), rgba(0,0,0, 0.7)), url('../images/backgrounds/stars.gif');
    background-position: center;
    background-size: cover;
    padding-left: 8%;
    padding-right: 8%;
    padding-top: 100px;
    box-sizing: border-box;
}

section.main .row {
    display: flex;
    height: 88%;
    align-items: center;
}

section.main .col {
    color: #7B7E8C;
    flex-basis: 50%;
}

@media (max-width: 515px)  {
    section.main h1 {
        font-size: 5em;
    }
}
@media (max-width: 385px)  {
    section.main h1 {
        font-size: 3em;
    }
}

section.main p {
    margin-bottom: 30px;
}

#scroll-down-icon {
    width: 5%;
    position: absolute;
    bottom: 20px;
    left: 50px;
}
@media (max-width: 858px) {
    #scroll-down-icon {
        width: 10%;
        bottom: 30px;
        left: 20px;
    }
}



.dark-mode section.highlights {
    color: white;
    background-color: #000408;
}
.light-mode section.highlights {
    color: black;
    background-color: #F9F8F9;
}
section.highlights {
    
    text-align: center;
}
section.highlights h1 {
    font-size: 45px;
}
section.highlights i {
    color: #BF2E5D;
}

.dark-mode section.highlights h4 {
    color: white;
}
.light-mode section.highlights h4 {
    color: black;
}
section.highlights h4 {
    font-weight: 500;
    line-height: 1.5em; 
    font-size: 2em;
    margin: 1em 0;
}
section.highlights ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1110px;
    margin: auto;
}
section.highlights li {
    width: 370px;
    line-height: 1.8;
    padding: 20px 20px 0;
    text-align: justify;
}




.dark-mode section.partners {
    color: white;
    background-color: #16161D;
}
.light-mode section.partners {
    background-color: #EEF3F7;
}
section.partners {
    padding: 120px 0;
    background: url('../images/backgrounds/neon.svg');
    background-size: cover;
    text-shadow: 0 1px 5px rgba(0,0,0, 0.2);
}
section.partners .partners-container {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
section.partners .partners-container h4 {
    font-weight: 400;
}
section.partners .partners-container h2 {
    font-size: 32px;
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
section.partners .partners-container h4, section.partners .partners-container p {
    font-size: 20px;
}
section.partners .partners-container p {
    font-weight: 700;
    margin-block-start: 0.83em;
}

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

section.partners .logos {
  overflow: hidden;
  padding: 60px 0;
  white-space: nowrap;
  position: relative;
  z-index: 998;
}

section.partners .logos:before, section.partners .logos:after {
  position: absolute;
  top: 0;
  width: 250px;
  height: 100%;
  content: "";
  z-index: 2;
}

.dark-mode section.partners .logos:before {
    color: white;
    background: linear-gradient(to left, rgba(255,255,255, 0), #16161D);
}
.light-mode section.partners .logos:before {
    background: linear-gradient(to left, rgba(255,255,255, 0), #EEF3F7);
}
section.partners .logos:before {
  left: 0;
}

.dark-mode section.partners .logos:after {
    color: white;
    background: linear-gradient(to right, rgba(255,255,255, 0), #16161D);
}
.light-mode section.partners .logos:after {
    background: linear-gradient(to right, rgba(255,255,255, 0), #EEF3F7);
}
section.partners .logos:after {
  right: 0;
}

section.partners .logos:hover .logos-slide {
  animation-play-state: paused;
}

section.partners .logos-slide {
  display: inline-block;
  animation: slide 35s infinite linear;
}

.dark-mode section.partners .logos-slide a {
    color: white;
}
.light-mode section.partners .logos-slide a {
    color: black;
}

section.partners .logos-slide img {
  height: 50px;
  margin: 0 50px;
  transition: transform 0.4s ease;
}

section.partners .logos-slide img:hover {
    transform: scale(1.6);
}

section.partners .logos-slide ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

section.partners .logos-slide ul li {
  display: inline-block;
  margin-right: 20px; /* Espacio entre los elementos */
  transition: transform .1s linear;
}



.dark-mode section.ad-video {
    background-color: #010409;
}
.light-mode section.ad-video {
    background-color: var(--light-body-color);
}
section.ad-video {
    padding: 120px 0;
    display: flex;
    align-items: center;
}
section.ad-video .container-video {
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: flex;
    align-items: center;
}

.dark-mode section.ad-video {
    color: white;
}
.text-container {
    flex: 1;
}

.text-container h2 {
    margin-bottom: 20px;
    font-size: 35px;
}
.text-container p {
    font-size: 15px;
}

.video-container {
    flex: 1;
    margin-right: 20px;
}

@media (max-width: 858px) {
    section.ad-video .container-video {
        display: inline;
    }

    .video-container {
        margin-right: 0;
    }

    video {
        margin-top: 30px;
    }
}

video {
    width: 95%;
    height: auto;
}