body.dark-mode {
    color: white;
    background: #010409;
}

main {
    padding: 50px;
    margin-top: 60px;
}

hr {
    width: 100%;
}

@media (min-width: 850px) { 
    #product-container {
        margin: 0px 120px;
    }
}

#product-container-main {
    display: flex;
    gap: 1.5rem;
    align-items: center;
}

#product-container-main img, #product-container-main video {
    width: 800px;
    height: 580px;
    border-radius: 10px;
}

#product-container-main #left-container h2 {
    margin-top: 35px;
    font-size: 23px;
}

#product-container-main #left-container #stars {
    color: #F9DE69;
}

#product-container-main #left-container #price {
    margin-top: 20px;
    font-size: 20px;
    font-weight: 800;
}

#quantity-select {
    margin-top: 35px;
}

select {
    padding-right: 30px;
}
select:focus {
    box-shadow: none; /* Disable skeous onclick shadow*/
}

#product-container-main #left-container #description {
    margin-top: 25px;
}
#product-container-main #left-container #description p {
    font-size: 14px;
}

#buy-button {
    width: 100%;
    margin-top: 50px;
    margin-bottom: 30px;
}

#return-separation {
    all: revert;
    margin-top: 20px;
    margin-bottom: 20px;
}

#return {
    text-wrap: wrap;
}

#return span {
    font-size: 15px;
}

#return p {
    font-size: 10px !important;
}   

#product-description-separation {
    margin-top: 25px;
    margin-bottom: 20px;
}


@media (max-width: 850px) {
    #product-container-main #left-container h2 {
        margin-top: 0;
    }

    #product-container-main {
        flex-direction: column;
    }

    #product-container-main img {
        width: 350px;
        height: 300px;
    }

    #product-container-main #left-container {
        width: 350px;
    }
}

#product-description {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 1rem;
}

#product-description h3:nth-of-type(1) {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

#product-description h3:nth-of-type(2) {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

#product-description ul {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

#product-description table {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    width: 100%;
    border-collapse: collapse;
}

#product-description table tr, #product-description table td, #product-description table th {
    padding: 0.5rem;
    border: 1px solid #6A6D78;
    text-align: left;
}
@media (max-width: 850px) {
    #product-description {
        display: block;
        margin-bottom: 50px;
    }

    #product-description h3 {
        margin: 20px 0;
    }

    #product-description h3, #product-description ul, #product-description table {
        grid-column: auto;
        grid-row: auto;
        width: 100%;
    }  
}

#similar-products-slider #title {
    margin-bottom: 20px;
}

.products-slider {
    width: 100%;
    position: relative;
}
.products-slider i {
    top: 50%;
    height: 50px;
    width: 50px;
    cursor: pointer;
    font-size: 1.25rem;
    position: absolute;
    text-align: center;
    line-height: 50px;
    color: black;
    background: white;
    border-radius: 50%;
    box-shadow: 0 3px 6px rgba(0,0,0, .23);
    transform: translateY(-50%);
    transition: transform 0.1s linear;
}
.products-slider i:active {
    transform: translateY(-50%) scale(0.85);
}
.products-slider i:first-child {
    left: -22px;
}
.products-slider i:last-child {
    right: -22px;
}

.products-slider .carousel {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% / 4) - 12px);
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    gap: 16px;
    border-radius: 8px;
    scroll-behavior: smooth;
    scrollbar-width: none;
}
.carousel::-webkit-scrollbar {
    display: none;
}
.carousel.no-transition {
    scroll-behavior: auto;
}
.carousel.dragging {
    scroll-snap-type: none;
    scroll-behavior: auto;
}
.carousel.dragging .card {
    cursor: grab;
    user-select: none;
}
.carousel :where(.card, .img) {
    display: flex;
    justify-content: center;
    align-items: center;
}
.carousel .card {
    scroll-snap-align: start;
    height: 300px;
    list-style: none;
    cursor: pointer;
    padding-bottom: 15px;
    flex-direction: column;
    border-radius: 8px;
    box-shadow: 0 10px 20px rgba(0,0,0, .3);
    border-radius: 5px;
    padding: 3px;
    margin-bottom: 20px;
    border: 3px solid rgba(127,127,127, .4);
}
.card img {
    width: 290px;
    height: 190px;
    object-fit: cover;
    border: 4px solid white;
    border-radius: 10px;
}
.carousel .card h2 {
    font-weight: 500;
    font-size: 1.56rem;
    margin: 30px 0 5px;
}
.carousel .card span {
    color: #6A6D78;
    font-size: 1.31rem;
}

@media screen and (max-width: 900px) {
    .products-slider .carousel {
        grid-auto-columns: calc((100% / 2) - 9px);
    }
}

@media screen and (max-width: 600px) {
    .products-slider .carousel {
        grid-auto-columns: 100%;
    }
}