main {
    display: flex;
    margin-top: 100px;
    padding: 0 100px;
    margin-bottom: 70px;
}

hr {
    margin: 7px 0;
}

#select-all {
    display: inline;
    font-size: 13px;
    font-weight: normal;
}
#select-all-divider {
    width: 85%;
    margin-top: 13px;
    margin-bottom: 25px;
}

#products {
    flex: 1;
}

.product {
    display: flex;
    justify-content: flex start;
    flex-direction: row;
    margin-top: 25px;
    margin-bottom: 10px;
}

.product img {
    width: 150px;
    border-radius: 5px;
    margin-left: 0.6rem;
    margin-right: 0.6rem;
}

.product h3 {
    font-size: 25px;
    margin: 0;
}

.product #text #price p {
    font-size: 13px;
}
.product #text #price-select {
    margin-left: 230px;
}

.product #price-select select {
    padding-right: 80px;
}
.product #price-select select:focus {
    box-shadow: none;
}

.product #price {
    color: #023187;
    font-size: 20px;
}

.product hr {
    width: 100%;
    height: 3px;
}

.product #remove {
    margin-top: 50px;
    margin-left: 50px;
    cursor: pointer;
}

#order-summary {
    flex: 0.6;
}

#total {
    font-size: 14px;
}

#checkout {
    display: inline-block;
}

#order-summary h2 {
    margin: 5px 0;
}

#order-summary button {
    width: 60%;
    margin: 7px 0;
}

#order-summary img {
    width: 50px;
}
#order-summary h4 {
    font-size: 13px;
    font-weight: 700;
    margin-top: 7px;
}

#payment-methods p {
    margin-top: 10px;
}

#payment-info {
    font-size: 10px;
    font-weight: 400;
}

@media (max-width: 586px) {
    .product #remove {
        margin-right: 80px;
    }
}
@media (max-width: 1122px) {
    .product {
        margin-right: 20px;
    }
}
@media (max-width: 768px) {
    main {
        flex-direction: column;
        padding: 0 30px;
    }

    hr {
        width: 100%;
    }

    #products {
        flex: 1;
        width: 100%;
    }
    
    .product #text #price-select {
        margin-left: 3rem;
    }

    .product #text #price {
        font-size: 15px;
        margin: 10px 0;
    }

    .product #remove {
        margin-left: auto;
    }
    
    #order-summary {
        width: 100%;
        margin-top: 2rem;
    }

    #checkout {
        text-align: center;
    }

    .product #text hr {
        width: 40%;
        position: absolute !important;
    }

    #order-summary button {
        width: 80%;
    }

    #order-summary img {
        width: 30px;
        margin: 0.5rem;
    }
}
