main {
    width: 90%;
    max-width: 800px;
    text-wrap: wrap;
    margin: auto;
    margin-top: 90px;
    margin-bottom: 60px;
}

h1 {
    margin-block-end: 30px;
    font-size: 45px;
}

h2 {
    font-size: 32px;
}

p {
    font-size: 15px;
}

h2#features {
    font-size: 26px;
    margin-block-end: 33.8px;
    margin-block-start: 33.8px;
}

h2#learn-more {
    margin-block-end: 30.6px;
    margin-block-start: 30.6px;
}

h2, p {
    margin-bottom: 1.3em;
}

iframe {
    width: 350px;
    height: 300px;
    border: 0;
}